.popup__invalid .error-message {
    padding: 10px;
    opacity: 1;
  }
  
  .popup__invalid .popup__input {
    border-color: #FF3333;
  }
  
  .error-message {
    color: #FF3333;
    font-size: 0.8em;
    transition: .3s;
    padding: 0px;
    opacity: 0;
  }